.app {
  display: grid;
  grid-template-columns: 3rem 1rem auto;
  grid-template-rows: 3rem 1rem auto;
  height: calc(100vh - 2rem);
}

svg.size-1 {
  width: 22px;
  height: 22px;
}

svg.size-2 {
  width: 44px;
  height: 44px;
}

textarea {
  padding: 0.5rem;
  border: 1px solid #222;
  border-radius: 0.25rem;
  width: 90%;
  height: 6rem;
}

.editor {
  grid-column: 3;
  grid-row: 3;
}

.logo {
  grid-column: 1;
  grid-row: 1;
}

.toolbar-horizontal {
  grid-row: 1;
  grid-column-start: 3;
  grid-column-end: 3;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.toolbar-horizontal section {
  display: flex;
  flex-direction: row;
}

.toolbar-vertical {
  grid-row: 3;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.toolbar-vertical section {
  display: flex;
  flex-direction: column;
}

.toolbar-vertical section,
.toolbar-horizontal section {
  border-radius: 0.25rem;
  background-color: #FFF;
}

.toolbar-vertical button {
  display: flex;
  align-items: center;
  border: 0;
  background: transparent;
  padding: 0;
  color: var(--base-foreground);
}

.toolbar-vertical button:hover {
  color: #5370DA;
}

.toolbar-vertical button:disabled {
  pointer-events: none;
  color: #ddd;
}

.toolbar-horizontal button {
  display: flex;
  align-items: center;
  border: 0;
  background: transparent;
  width: 3rem;
  padding: 0;
  color: var(--base-foreground);
}

.toolbar-horizontal button:hover {
  color: #5370DA;
}

.toolbar-vertical .seperator {
  border-top: 1px dashed #aaa;
  margin: 0.25rem 0 ;
}

.toolbar-horizontal .seperator {
  border-left: 1px dashed #aaa;
  margin: 0 0.25rem;
}

.zoom {
  display: flex;
  flex-direction: column;
}

.zoom span {
  font-size: 0.875rem;
  align-self: center;
  padding: 0.125rem;
}

.zoom input {
  margin: 0.4rem 0.5rem 0 0.5rem;
}

.width input,
.height input {
  width: 3rem;
  font-size: 1rem;
  padding: 0.35rem 0.25rem 0.35rem 0.25rem;
  -moz-appearance: textfield;
  border-radius: 0;
  border: 0;
  box-shadow: inset 0 0 0.25rem rgb(0 0 0 / 20%);
  text-align: center;
}

.toolbar button,
.toolbar button {
  display: flex;
  background: transparent;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 0.25rem;
  justify-content: center;
}

.toolbar button.up {
  border-top-color: #555;
  border-right-color: #555;
  border-left-color: #555;
  border-radius: 0.25rem 0.25rem 0 0;
}

.width input::-webkit-outer-spin-button,
.height input::-webkit-outer-spin-button,
.width input::-webkit-inner-spin-button,
.height input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.editor {
  
}

.example-button-round {
  width: 146px;
  height: 36px;
}

.example-grid {
  width: 130px;
  height: 82px;
}

.flyout-open {
  overflow: auto;
  padding: 0.5rem;
  height: calc(100vh - 7rem);
}

.flyout-open button {
  width: 48px;
  height: 48px;
  padding: 2px;
  border: 0;
  background: transparent;
}

.flyout-open button:hover {
  fill: #5370DA;
}

.flyout-open button svg {
  width: 44px;
  height: 44px;
}